body {
font-family: Tahoma, arial, sans-serif;
}

h1 {color: #554000;}

table {
border-collapse: collapse;
}
  
th { 
background-color: #D4BA6A;
border-top: solid 2px #333333;
border-bottom: solid 2px #333333;
}

td {
padding: 0.25em;
}

tr {
border: solid 1px #333333;
}

