.part1 h2 {
    color: red;
}

.part1 p{
    color: white;
    background-color: black;
}
.part2 h2{
    color: green;
}
.part2 p{
    color: green;
    background-color: darkred;
}

.part3 {
    color: green;
}

.part4 > p{
    color: green;
}
