body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                            "nav nav nav"
                            "main main aside"
                            "footer footer footer";
}

header {
    background-color: blue;
    color: white;
    padding: 10px;
    grid-area: header;
}

nav{
    background-color: yellow;
    color: black;
    grid-area: nav;
   
}

li {
    width: 30%;
    
    float:left;
   
}
main{
    background-color: green;
    color: black;
    grid-area: main;
}
aside{
    background-color: lightgreen;
    color: black;
    grid-area: aside;
}

footer{
    background-color: red;
    color: white;
    grid-area: footer;
}